@use "variaveis" as *;

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: $fonte-principal;

    background: $cor-fundo;

    color: $cor-texto;

    line-height: 1.6;
}

section {

    padding: calc($espacamento * 2.5) 8%;
}